<% provide(:title, "Log in") %>
<div class="login">
  <h1>Log in</h1>

  <section>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>

      <%= f.password_field :password %>
      <div><%= link_to "(forgot password)", new_password_reset_path %></div>
      <%= f.label :remember_me do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>

      <%= f.submit "Log in", class: "button" %>

      <p>Or</p>

      <div class="button"><%= link_to "Sign up", signup_path %></div>

      <%= f.hidden_field :lock_version %>

    <% end %>

  </section>
</div>