<% provide(:title, 'Reset password') %>
<div class="login">
<h1>Reset password</h1>

  <section>
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= hidden_field_tag :email, @user.email %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Update password", class: "button" %>
      <%= f.hidden_field :lock_version %>
    <% end %>
  </section>
</div>