<% provide(:title, "Forgot password") %>
<div class="login">
  <h1>Forgot password</h1>
  <section>
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "Submit", class: "button" %>
      <%= f.hidden_field :lock_version %>
    <% end %>
  </section>
</div>