Hi <%= @user.name %>

Welcome to Project management from developers point of view. Click on the link below to activate your account:

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>
