<h1>Project</h1>

<p>Hi <%= @user.name %>,</p>

<p>
  Welcome to Projects from a developer point of view. Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>