.login {

  h1 {
    text-align: center;
  }

  section {
    background-color: lightyellow;
    width: 464px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid blue;
    border-radius: 7px;
    padding: 1em;
    label, checkbox {
      padding-top: 1em;
      padding-bottom: 2px;
    }

    label {
      display: block;
    }

    .button {
      margin-top: 1em;
      width: 7em;
      font-size: small;
    }

    .button > a {
      text-decoration: none;
    }

    input[type="email"], input[type="password"], input[type="text"] {
      width: 22em;
    }

    p {
      margin-top: 1em;
      margin-bottom: 1em;
    }

  }
}