// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login {
  #signup-button {
    width: 11em;
    font-size: small;
    display: block;
  }
}