<header>
  <h1>Projects</h1>
  <div class="dropdown">
    <ul>
      <% if logged_in? %>
        <li><%= link_to 'Log out', logout_path, method: 'delete' %></li>
      <% else %>
        <li><%= link_to 'Log in', login_path %></li>
      <% end %>
    </ul>
  </div>
</header>
<div id="fixed-spacer"></div>